# RUNTIME MODE
#RUN_ENV=DEV

# DATABASE CREDENTIALS
#DB_USER=fuagenerator
#DB_PASSWORD=fuagenerator
#DB_NAME=fuagenerator
#DB_HOST=host.docker.internal
#DB_PORT=5433

# BACKEND CREDENTIALS
#BACKEND_USERNAME=  
#BACKEND_PASSWORD=
#BACKEND_BASEURL=

# CONCEPT RETREIVING
#BASE_URL=

# SECURITY VARIABLES
# (Should be 12 characters wide)
#TOKEN=
#SECRET_KEY=
#ENCRYPTION_KEY=

# PAGINATION
#DEFAULT_MAX_PAGINATION_PAGE_SIZE= 
#DEFAULT_PAGINATION_PAGE_SIZE=
